nastimer/.DS_Store
nastimer/files.txt
nastimer/find-from-nas.txt

*.hprof

nastimer/myfilelist copy.txt.zip

nastimer/myfilelist.txt

nastimer/myfilelist.txt

nastimer/myfilelist copy.txt

nastimer/myfilelist-deleteme.txt
